*{margin:0; padding:0;}
*{box-sizing: border-box;}
.container {
    position: relative;
    display: inline-block;
}
.iconWrapper {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon {
    width: 30px; height: 30px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    transition: all .3s;
    color: rgb(204, 204, 204)
 }
 .icon:hover {
     cursor: pointer;
     color: rgb(68,68,68)
 }

.window{
    box-shadow: 0 0 3px #AAAAAA;
    vertical-align: middle;
    width:668px;
    height: 445px;
    overflow: hidden;  
}
.images{
    display: flex;
    align-items: flex-start;
    transition: all 0.5s;
}
.images >img{
    width:100%;
}

#buttonWrapper >button {
    margin: 10px;
    background-color:rgb(131,208,242);
    border: none;
    border-radius: 3px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition:all 0.2s;
}
#buttonWrapper >button:hover {
    cursor: pointer;
}
#buttonWrapper >button:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 140, 186, .2); 
}
.clickWrapper {
    margin: 10px 238px;
}
.clickMe {
    text-align: center;
    width:100%;
    padding:10px;
    background: rgb(239,239,239);
    display: block;
    border-radius: 3px;
    box-shadow: 0 0 3px #AAAAAA;
}
.clickMe:hover {
    cursor: pointer;
}
#popover {
    margin: 10px 165px;
    border: 1px solid rgb(69,90,100);
    border-radius: 3px;
    box-shadow: 0 0 3px #AAAAAA;
    position: absolute;
    top: 100%;
    white-space: nowrap;
    padding: 10px;
    background: white;
    display: none;
}
#popover::before{
    position: absolute;
    bottom: 100%;
    left: 200px;
    border: 10px solid transparent;
    border-bottom-color: rgb(69,90,100);
    content: '';
  }
#popover::after{
    position: absolute;
    bottom: 100%;
    left: 200px;
    border: 10px solid transparent;
    border-bottom-color: white;
    content: '';
    margin-bottom: -1px;
  }
